{% extends 'base/index.html' %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Описание</th>
            <th scope="col">Картинка</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.title }}</td>
            <td>{{ category.description }}</td>
            <td><img src="{{ category.image.url }}" alt="" width="100px" height="100px"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}